{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}, % 日志输出转换
  {parse_transform, exprecs}, % 自动生成records的操作函数
  {platform_define, "(linux|freebsd|darwin)", 'USE_JSX', 'TRUE'} %定义工作平台
  ]}.
{deps, [
  {parse_trans, "3.0.0"}
  , {cowboy, "1.0.4"}
  , {lager, "3.4.2"}
  , {jsx, "2.8.2"}
  , {xfutils, {git, "https://github.com/simonxu72/erlang-xfutils", {branch, "master"}}}
  , {datetime_x_fin, {git, "https://github.com/simonxu72/datetime_x_fin", {branch, "master"}}}
  , {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.12.0"}}}


]}.

{plugins, [
  {rebar3_erlydtl_plugin, ".*",
    {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
]}.
{provider_hooks, [
  {pre, [{compile, {erlydtl, compile}}]}
]}.
{shell, [
  {apps, [verify_gateway]}
  , {config, "sys.config"}]}.

