[
  {inets,
    [
      {services, [{httpc, []}]}
    ]
  },
  {mnesia,
    [
      {dir, "/home/ping/verify_gateway/mnesia_store"}
      , {dump_log_write_threshold, 50000}
      , {dc_dump_limit, 40}
    ]
  },
  {cowboy,
    [
      {http_port, 9999}
    ]
  },

  {verify_gateway,
    [
      {priv_dir, "/priv"}
      , {mcht_keys_dir, "/keys/mcht"}
      , {auth_token_config_file, "auth_token.config"}
      , {up_reconcile_file_dir, "/reconcile_files/up/"}
      , {ums_reconcile_file_dir, "/reconcile_files/ums/"}
      , {mcht_reconcile_file_dir, "/reconcile_files/mcht/"}
      , {db_backup_dir, "/backup.db/"}
      , {min_txn_amt, 100}
      , {trace_repo_probe, false}
    ]
  },
  {lager,
    [
      {log_root, "/tmp/logs/"},
      {handlers,
        [
          {lager_console_backend,
            [debug,
              {lager_default_formatter,
                [date, " ", time
                  , " [", severity, "]"
                  , {module, [
                  module,
                  {function, [":", function], ""},
                  {line, [":", line], ""}], ""},
                  {pid, ["@", pid], ""},
                  message
                  , "\n"
                ]
              }
            ]
          },
          {lager_file_backend, [{file, "error.log"}, {level, error}, {date, "$D23"}, {count, 60}]},
          {lager_file_backend, [{file, "console.log"}, {level, debug}, {date, "$D23"}, {count, 60}]}
        ]}
    ]}

].
